.all{
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.card {
  width: 290px;
  height: 450px;
  background: rgb(236, 139, 139);
  padding: .4em;
  border-radius: 6px;
  margin: 20px 10px;
}

.heading1{
  text-decoration: rgb(0, 0, 0) underline;
  display: flex;
  justify-content:center ;
  align-items: center;
  padding: 20px;
  /* background-color: black; */
  color: rgb(17, 16, 16);
}