.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.card {
  width: 290px;
  height: 450px;
  background: red;
  padding: .4em;
  border-radius: 6px;
  margin: 0 10px;
}

.heading1{
  text-decoration: black underline;
  display: flex;
  justify-content:center ;
  align-items: center;
  padding: 20px;
  /* background-color: black; */
  color: red;
}